# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpadda/accounts/               @nextchamp-saqib @deepeshgarg007
erpadda/assets/                 @nextchamp-saqib @deepeshgarg007
erpadda/erpadda_integrations/   @nextchamp-saqib
erpadda/loan_management/        @nextchamp-saqib @deepeshgarg007
erpadda/regional                @nextchamp-saqib @deepeshgarg007
erpadda/selling                 @nextchamp-saqib @deepeshgarg007
erpadda/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

erpadda/buying/                 @marination @rohitwaghchaure @ankush
erpadda/e_commerce/             @marination
erpadda/maintenance/            @marination @rohitwaghchaure
erpadda/manufacturing/          @marination @rohitwaghchaure @ankush
erpadda/portal/                 @marination
erpadda/quality_management/     @marination @rohitwaghchaure
erpadda/shopping_cart/          @marination
erpadda/stock/                  @marination @rohitwaghchaure @ankush

erpadda/crm/                    @ruchamahabal @pateljannat
erpadda/education/              @ruchamahabal @pateljannat
erpadda/hr/                     @ruchamahabal @pateljannat
erpadda/payroll                 @ruchamahabal @pateljannat
erpadda/projects/               @ruchamahabal @pateljannat

erpadda/controllers/            @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure @marination @ankush
erpadda/patches/                @deepeshgarg007 @nextchamp-saqib @marination @ankush
erpadda/public/                 @nextchamp-saqib @marination

.github/                        @ankush
requirements.txt                @gavindsouza
